.event {
    border-radius: 8px;
    background: #C8CEEA; 
    box-shadow: 9.91px 9.91px 15px #B6BBD5, -9.91px -9.91px 15px #DAE1FF; /* white */
    margin-top: 24px;
}

.event h3 {
    font-style: italic;
}


.show-details {
    font-size: 12pt;
    font-weight: bold;
    outline: none;
    border-style: none;
    border-radius: 16px;
    background: #C8CEEA; 
    /* background: #a463f2;  */
    box-shadow: 9.91px 9.91px 15px #B6BBD5, -9.91px -9.91px 15px #DAE1FF; /* white */
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #0373fc;
    /* color: #f7f7f7; */
}

.hide-details {
    font-size: 12pt;
    font-weight: bold;
    outline: none;
    border-style: none;
    border-radius: 16px;
    background: #C8CEEA; 
    /* background: #a463f2;  */
    box-shadow: inset 9.91px 9.91px 15px #B6BBD5, inset -9.91px -9.91px 15px #DAE1FF;
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #0251b1;
    /* color: #f7f7f7; */
}

.btn-text {
    background-color: none;
  }

.location {
    font-style: italic;
}




