.event {
    background: linear-gradient(145deg, #E2D297);
    border-radius: 8px;
    box-shadow: 4.8px 4.8px 21px #C0B380, -4.8px -4.8px 21px #FFF2AE;
    margin-top: 24px;
}

.event h3 {
    font-style: italic;
}

.show-details {
    font-size: 12pt;
    font-weight: bold;
    outline: none;
    border-style: none;
    background: #e2d297;
    border-radius: 16px;
    box-shadow: 9.91px 9.91px 15px #CEBF89, -9.91px -9.91px 15px #F6E5A5;
    /* padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #0373fc;
}

.hide-details {
    font-size: 12pt;
    font-weight: bold;
    outline: none;
    border-style: none;
    background: #e2d297;
    border-radius: 16px;
    box-shadow: inset 9.91px 9.91px 15px #CEBF89, inset -9.91px -9.91px 15px #F6E5A5;
        /* padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #0373fc;
}

.btn-text {
    /* float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto"; */
    background-color: none;
    color: #0373fc;
  }

.button {
      color: #0373fc;
  }

.location {
    font-style: italic;
}




