.number-of-events-input {
    font-size: 12pt;
    font-weight: bold;
    outline: none;
    border: none !important; 
    border-radius: 16px;
    /* background: #C8CEEA; */
    background: #f7f7f7;
    box-shadow: inset 9.91px 9.91px 15px #B6BBD5, inset -9.91px -9.91px 15px #DAE1FF;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #0373fc;
}

.number-of-events-alert {
    position: relative;
}